<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<body>

    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 
    <div class="table-container">
        <h2>Customer with Id: <%= customer.id %></h2>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">Customer Name</div>
                <div class="col col-2">Email</div>
                <div class="col col-3">Balance</div>
                <div class="col col-4">Actions</div>
            </li>
            <li class="table-row">
                <div class="col col-1" data-label="Customer Name"><%= customer.name %></div>
                <div class="col col-2" data-label="Email"><%= customer.email %></div>
                <div class="col col-3" data-label="Balance"><%= customer.balance %></div>
                <div class="col col-4" data-label="Actions"><a class="delete" data-doc="<%= customer._id %>">Delete</a></div>
            </li>
        </ul>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %> 

    <!-- Frontend Script -->
    <script>
        // This script tag is running on browser
        // Frontend javascript this is
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/customers/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
                .then((response) => response.json()) //response.json parses the json data back to js
                .then((data) => window.location.href = data.redirect)
                .catch(err => console.log(err));
        })
    </script>
</body>
</html>