<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs')  %> 
<body>

    <!-- Navbar -->
    <%- include('./partials/nav.ejs')  %> 
    <% let serial = 1 %> 

    <div class="table-container">
        <h2>All Transactions</h2>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">Serial No.</div>
                <div class="col col-2">Sender Name and Id</div>
                <div class="col col-3">Recipient Name and Id</div>
                <div class="col col-4">Amount and Transaction Time</div>
            </li>
            <% if (transactions.length > 0) { %>
                <% transactions.forEach(transaction => { %>
                    <li class="table-row">
                        <div class="col col-1" data-label="Serial No."><%= serial.toString() %></div>
                        <div class="col col-2" data-label="Sender Name and Id"><%= transaction.sender_id %> - <%= transaction.sender_name %></div>
                        <div class="col col-3" data-label="Recipient Name and Id"><%= transaction.recipient_id %> - <%= transaction.recipient_name %></div>
                        <div class="col col-4" data-label="Amount and Transaction Time"><i class="fa fa-inr"></i><%= transaction.amount %><br><%= transaction.createdAt %></div>
                    </li>
                <% serial = serial + 1 }) %>
            <% } else { %>
                <h3>No transactions till now :(</h3>
            <% } %> 
        </ul>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs')  %> 
</body>
</html>